body {
  padding-top: 90px;
}

.navbar-brand {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 40px;
  font-weight: normal;
}

.custom-navbar {
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.infoText {
  font-size: 20px;
  font-weight: normal;
  margin: 20px;
}

.btn-pokemon {
  background-color: whitesmoke;
  padding: 16px 32px;
  border: 4px solid;
  width: 100%;
}

.custom-search-button {
  font-weight: bold;
}

/* Modal Container */
#pokemon-modal {
  display: none; /* Hide modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  justify-content: center;
  align-items: center;
}

#pokemon-modal.is-visible {
  display: flex; /* Change to flex to make it visible */
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Modal Title */
.modal-content h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Modal Height */
.modal-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

/* Modal Image */
.modal-content img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  margin-bottom: 15px;
}
